{
	auto_https disable_redirects
}

:80/grafana* {
  reverse_proxy grafana:3000
}

:80/prometheus* {
  reverse_proxy prometheus:9090
}

:80/jackett* {
  reverse_proxy jackett:9117
}

:2020 {
  metrics
}
