{
	auto_https disable_redirects
}

cloud.{$LOCAL_DOMAIN}:80/* {
  reverse_proxy nextcloud:80
}

grafana.{$LOCAL_DOMAIN}:80/* {
  reverse_proxy grafana:3000
}

prometheus.{$LOCAL_DOMAIN}:80/* {
  reverse_proxy prometheus:9090
}

portainer.{$LOCAL_DOMAIN}:80/* {
  reverse_proxy portainer:9000
}

prowlarr.{$LOCAL_DOMAIN}:80/* {
  reverse_proxy prowlarr:9696
}

bazarr.{$LOCAL_DOMAIN}:80/* {
  reverse_proxy bazarr:6767
}

adguard.{$LOCAL_DOMAIN}:80/* {
  reverse_proxy adguard-home:80
}

downloads.{$LOCAL_DOMAIN}:80 {
  reverse_proxy torrent:8080
}

:2020 {
  metrics
}
